body {
  padding: 10px;
  font-family: sans-serif;
}

div#terminal {
	background-color:black; 
	width: 70%;
	height:300px;
    overflow:auto;
    margin:0 auto 10px 10px;
    padding:5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: "Gill Sans", sans-serif;
    box-shadow: 2px 2px 2px #aaaaaa;
    color:white;
    opacity: 0.9;
}


div#head {
	background-color:#c5c5c5; 
	width: 70%;
	height:20px;
	margin:10px auto 0 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    text-align: center;
    font-family: "Gill Sans", sans-serif;
    box-shadow: 2px 2px 2px #aaaaaa;
    opacity: 0.9;
}


button {
  border: 1px solid #0066cc;
  background-color: #0099cc;
  color: #ffffff;
  padding: 5px 10px;
}

button:hover {
  border: 1px solid #0099cc;
  background-color: #00aacc;
  color: #ffffff;
  padding: 5px 10px;
  cursor:pointer;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

input{
  font-family:Helvetica, Arial, sans-serif;
  font-size:12pt;
  margin:0;
  padding:0;
  width:100%;
}

input{
  font-size:12pt;
  border:none;
  outline:none;
  position:absolute;
  top:0;
  left:0;
  display:block;
  background:transparent;
  z-index:2;
  border-bottom:1px solid #ccc;
  text-indent:$padding-horizontal;
}






